/* Reset default margin and padding for html and body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* Ensure the body takes up the full height of the viewport */
  }
  
  .about {
    background: linear-gradient(to right, #000000, #737373);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0; /* Remove the margin-top from about */
    width: 100%;
  }
  
  .header {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .aboutitle {
    font-size: 8rem;
    margin: 0;
    color: white;
  }
  
  .about-content {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    gap: 10px; /* Space between items */
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1200px;
  }
  
  .logo-box,
  .stat-card,
  .we-do-card,
  .hori-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    justify-content: left;
    align-items: left;
    gap: 10px;
  }
  
  .logo-box,
  .stat-card,
  .we-do-card,
  .hori-card {
    width: auto;
    height: auto;
  }
  